<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/e1cdabb1-7037-469c-b291-013cd8de23a6/resourceGroups/spmedgroup-tarde-resources/providers/Microsoft.Web/sites/spmedgroup-kaue</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://spmedgroup-kaue.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>7630b718-0479-478a-bc8b-4983b0a9e018</ProjectGuid>
    <PublishUrl>https://spmedgroup-kaue.scm.azurewebsites.net/</PublishUrl>
    <UserName>$spmedgroup-kaue</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>